<style>
body {
  font-family: 'Work Sans', sans-serif;
  margin: 0 auto;
  max-width: 600px;
  background-color: black;
  text-align: center;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  font-size: 25px;
  background-color: #FFB6C1;
  color: white;
  margin: 0 0 0 0;
  padding: 7px 0 7px 0;
  letter-spacing: 5px;
}
h2 {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  color: #bbbbbb;
  margin: 0px 0 70px 0;
  font-size: 40px;
  margin: 40px 0 0 0;
  letter-spacing: 5px;
}


ul {
    padding: 10px;
    background-color: #FFB6C1;
    font-family: 'Work Sans', sans-serif;
}
li {
    display: inline-block;
    padding: 0px 40px 0px 40px;
}

a {
  color: grey
}
a:hover {
  color:#666666 ;
}

.nav{
  text-align: center;
}

h5 {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  font-size: 60px;
  letter-spacing: 5px;
}




.gallery-item {
    height: auto;
    width: 100%;
    float: left;
    margin-bottom: 2em;
    position: relative;
}

    .gallery-item:first-child {
        margin-right: 2.762430939%;
    }

.gallery-item img {
    width: 100%;

}

.gallery-item:hover .img-title {
    opacity: 1;
}

.img-title {
    position: absolute;
    top: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    opacity: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.5s ease;
}

    .img-title h5 {
        position: absolute;
        color: #bbbbbb;
        top: 45%;
        width: 100%;
        text-align: center;
    }


</style>
