<style>
body {
  font-family: 'Work Sans', sans-serif;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  font-size: 25px;
  background-color: #FFB6C1;
  color: white;
  margin: 0 0 0 0;
  padding: 7px 0 7px 0;
  letter-spacing: 5px;
}
h2 {
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  color: rgba(0,0,0,0.5);
  margin: 0px 0 70px 0;
  font-size: 70px;
  margin: 80px 0 100px 0;
  letter-spacing: 10px;
}

mark {
  background-color: rgba(0,0,0,0.5);
  color: rgba(255,255,255,1);
}

h3 {
  font-family: 'Work Sans', sans-serif;
  text-align: left;
  color: rgba(0,0,0,0.5);
  margin: 0px 0 70px 0;
  font-size: 40px;
  margin: 0 0 0 0;
  letter-spacing: 10px;
}

h4 {
  font-family: 'Work Sans', sans-serif;
  text-align: left;
  color: rgba(0,0,0,0.5);
  margin: 0px 0 70px 0;
  font-size: 150px;
  margin: 20 0 20 0;
  letter-spacing: 15px;
  text-align: center;
}

p {
  font-family: 'Work Sans', sans-serif;
  text-align: left;
  color: rgba(0,0,0,0.5);
  margin: 0px 0 70px 0;
  font-size: 14px;
  margin: 0 0 0 0;
  letter-spacing: 0px;
}

.address {
  font-style: italic;
}

.p2 {
  text-align: right;
}

.p3 {
  text-align: center;
}
.address2 {
  text-align: right;
  font-style: italic;
}

.right {
  text-align: right;
}

ul {
    padding: 10px;
    background-color: rgba(0,0,0,0.05);
    font-family: 'Work Sans', sans-serif;
    padding:20px 0 20px 0;

}
li {
    display: inline-block;
    padding: 0px 40px 0px 40px;

      color: rgba(0,0,0,0.5);
}

.main {


  letter-spacing: 5px;
  color: rgba(0,0,0,0);

}

a {
  color: grey
}
a:hover {
  color:#666666 ;
}

.nav{
  text-align: center;
}

h5 {
  font-family: 'Work Sans', sans-serif;
  font-size: 60px;
  letter-spacing: 5px;
  align: center;
}

.ul2 {
  background-color: white
  position: center;
}


.gallery-item {
    height: auto;
    width: 100%;
    float: left;
    margin-bottom: 2em;
    position: relative;
}



.gallery-item img {
    width: 100%;

}

.gallery-item:hover .img-title {
    opacity: 1;
}

.img-title {
    position: absolute;
    top: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    opacity: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.5s ease;
}

    .img-title h5 {
        position: absolute;
        color: #bbbbbb;
        top: 40%;
        width: 100%;
        text-align: center;
    }

    .gallery-item2 {
        height: auto;
        width: 100%;
        float: left;
        margin-bottom: 2em;
        position: relative;
    }



    .gallery-item2 img {
        width: 100%;

    }

ul.share-buttons{
  list-style: none;
  padding: 0;

}

ul.share-buttons {

  display: inline;
  position: center;
 
}

ul.share-buttons .sr-only {
  position: center;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

@media (max-width: 500px) {
  h1 {font-size: 16px
  }
  h2 {font-size: 24px;
      margin:20px 0 30px 0;}
  li {font-size: 12px;}
  h3 {font-size: 30px;}
  h4 {font-size: 40px;
      margin:20px 0 30px 0;}

}



</style>
